<div>
  <img [src]="data.productImage" />
  <h3>{{ data.productName | uppercase }}</h3>
  <h4>{{ data.productPrice | currency : "INR" : "code" : "2.1-1" }}</h4>
  <!-- use symbol or code above -->
  <h4>{{data.productPrice | conversion:code | currency:code}}</h4>
  <h4>Sale Price : {{data.productSalePrice | conversion:code | currency:code}}</h4>

  {{data.productPrice | discount}}
  <!-- never use html to display anything
  those functions need to be converted into pipe -->
  <!-- {{discountCalculation()}} -->
  <button
    (click)="notifyParent($event)"
    *ngIf="data.productStock > 0; else stock"
  >
    Add to Cart
  </button>
</div>

<!-- template ref : #ref -->
<ng-template #stock>
  <p>Out of Stock</p>
</ng-template>
