<div class="main">
<main class="form-signin w-100 m-auto shadow rounded mt-5 bg-light-subtle">
  <form [formGroup]="loginForm" (submit)="login()">
    <h1 class="h3 mb-3 fw-normal">Please enter your details to Login</h1>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2 mt-4" type="submit">
      Login
    </button>
  </form>
</main>
</div>
