<h1 id="heading">Welcome to the Angular Application</h1>
<!-- <app-demo></app-demo> -->
<!-- <app-product></app-product> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-checkout></app-checkout> -->

<!-- While taking the inpute variable name same as directive selector's name, we don't need to define any separate attributes -->
<!-- <input type="text" appNumbersOnly="4" />
<input type="text" [appNumbersOnly]="count" /> -->
<!-- In case of taking a different variable name as @Input() maxCount -->
<!-- <input type="text" appNumbersOnly maxCount="6">
<input type="text" appNumbersOnly [maxCoutn]="count"> -->
<br /><br />

<app-login-buttons></app-login-buttons>

<ul>
    <!-- <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/checkout">Checkout</a></li> -->
    <!-- To prevent reloading the whole page use routerLink inplace of href -->
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/products">Products</a></li>
    <li><a routerLink="/checkout">Checkout</a></li>
</ul>

<!-- <app-currency (currencySelected)="fetchCurrency($event)"></app-currency> -->
<app-currency></app-currency>
<app-loader></app-loader>
<!-- <router-outlet> comes from RouterModule -->
<router-outlet></router-outlet> 
<!-- <app-product-list [selectedCurrencyCode]="currencyCode"></app-product-list> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-github-search></app-github-search> -->
