nav {
  height: 6%;
}

a {
  margin: 2%;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}